@import url("font.css");

html,
body {
   color: white;
  font-family: "Diploma", arial, sans-serif;
  font-size: 48px;
  -webkit-transition: font-size 0.4s ease;
  transition: font-size 0.4s ease;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body,
[data-bg="default"]{
	background: #333 -moz-radial-gradient(transparent, transparent, transparent, transparent, DarkOrange);
  background: #333 -webkit-radial-gradient(transparent, transparent, transparent, transparent, DarkOrange);
  background: #333 -o-radial-gradient(transparent, transparent, transparent, transparent, DarkOrange);
  background: #333 -ms-radial-gradient(transparent, transparent, transparent, transparent, DarkOrange);
  background: #333 radial-gradient(transparent, transparent, transparent, transparent, DarkOrange);
}

#maincontainer {
	position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1em;
  margin-left: -4em;
  width: 8em;
  height: 1em;
  text-align: center;
}

#clockcontainer {
  border-radius: 1em;
  padding: 0;
  background-color: black;
  margin: 0 auto;
  display: inline-block;
  height: 1.25em;
}
#clockcontainer:after,
#clockcontainer:before {
	content: "\00B7";
  font-weight: bold;
  width: 1em;
  height: 1em;
  display: block;
  text-align: center;
}
#clockcontainer:after{
  float: right;
}
#clockcontainer:before{
	float: left;
}

p {
	margin: 0;
  padding: 0;
  font-size: 50%;
  text-align: center;
  text-shadow: 0 0 0.1em black;
}

#h-day,
#d-day,
#u-day {
  display: block;
  float: left;
  margin: 0 0em;
  padding: 0;
  width: 1em;
  height: 1.25em;
  text-align: center;
  background-color: white;
  background: -moz-linear-gradient(top, black, white, white, black);
  background: -webkit-linear-gradient(top, black, white, white, black);
  background: -o-linear-gradient(top, black, white, white, black);
  background: -ms-linear-gradient(top, black, white, white, black);
  background: linear-gradient(to top, black, white, white, black);
  color: #222;
}

#d-day {
	margin: 0 0.5em
}

ul {
	font-size: 24px;
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0;
  font-family: arial, sans-serif;
  position: absolute;
  width: 5em;
  height: 2em;
  overflow: hidden;
  transition: height 0.4s ease;
}

#settings {
	right: 0;
  text-align: right;
  padding: 0 1em 0 0;
}

#settings [data-bg] {
  width: 100%;
  height: 100%;
}

ul:hover,
ul:target {
	height: 100%;
}

li:first-child,
li:first-child {
	font-size: inherit;
  transition: font-size 0.4s ease;
}

ul:hover li:first-child,
ul:target li:first-child {
	font-size: 0;
}

li {
	color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 0.25s ease;
  height: 1em;
  line-height: 1em;
  padding: 0.5em 0;
}

li:hover {
  color: rgba(255, 255, 255, 1);
}

#share {
	left: auto;
  right: 0;
  padding-left: 0;
  padding-right: 1em;
  text-align: right;
}

#share:hover li:first-child,
#share:target li:first-child {
	font-size: inherit;
}

